// COLORS
$primary-color: #568cf8;
$secondary-color: #1e8fff;

$white-color: #fff;

$dark-grey: #121212;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
